.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) and (min-width:100px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
  .col-sm-2 {
    float: left;
    width: 50%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col4 {
    float: left;
    width: 25%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) and (min-width:701px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col-md-2 {
    float: left;
    width: 50%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col-md-4 {
    float: left;
    width: 25%;
  }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col-lg-2 {
    float: left;
    margin: 2;
    width: 50%;
  }
  .col-lg-2-20 {
    float: left;
    margin: 2;
    width: 20%;
  }
  .col-lg-2-80 {
    float: left;
    margin: 2;
    width: 80%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col-lg-4 {
    float: left;
    width: 25%;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  line-height: 1.6;
}
.btn {
  width:100px;
  text-align:center;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:2px;
  margin-top:10;
  border: 2px solid green;
  border-radius: 5px;
}
