.App header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
}

.page {
  /* text-align: center; */
  display: flex;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.content {
  text-align: left;
  display: inline-block;
  background-color: #ffffff;
  width: 100%;
  max-width: 1232px;
  padding: 16px;
  box-sizing: border-box;
}
.app-ui {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  grid-gap: 16px;
}

.search-input {
  grid-column-start: 1;
  grid-column-end: -1;
}

.search-input input {
  width: 100%;
  box-sizing: border-box;
}

.search-results {
  grid-column-end: span 2;
  grid-row-end: span 2;
  border: 1px solid red;
  /* overflow: auto; */
  max-height: 500px;
}

.search-results ul {
  list-style: none;
  padding: 8px;
  margin: 0;
}

.search-results li.active {
  background-color: #f0f0f0;
}

.char-info {
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 16px;
}

.char-display {
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 16px;
  font-family:serif !important;
  font-size: 120px;
}
/* @media only screen and (max-width: 600px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col2 {
    float: left;
    width: 50%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col4 {
    float: left;
    width: 25%;
  }
}
@media only screen and (max-width: 400px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col2 {
    float: left;
    width: 100%;
  }
  .col3 {
    float: left;
    width: 100%;
  }
  .col4 {
    float: left;
    width: 100%;
  }
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 700px) and (min-width:100px) {
  .col-sm-1 {
    float: left;
    width: 100%;
  }
  .col-sm-2 {
    float: left;
    width: 50%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col4 {
    float: left;
    width: 25%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) and (min-width:701px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col-md-2 {
    float: left;
    width: 50%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col-md-4 {
    float: left;
    width: 25%;
  }

}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
  .col1 {
    float: left;
    width: 100%;
  }
  .col-lg-2 {
    float: left;
    margin: 2;
    width: 50%;
  }
  .col-lg-2-20 {
    float: left;
    margin: 2;
    width: 20%;
  }
  .col-lg-2-80 {
    float: left;
    margin: 2;
    width: 80%;
  }
  .col3 {
    float: left;
    width: 33.33%;
  }
  .col-lg-4 {
    float: left;
    width: 25%;
  }
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div {
  line-height: 1.6;
}
.btn {
  width:100px;
  text-align:center;
  background-color:#7BF38F;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:2px;
  margin-top:10;
  border: 2px solid green;
  border-radius: 5px;
}
.active, .btn:hover {
  background-color: #666;
  color: white;
}